﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.ShurjoPay.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    <b>Test account information</b>
                    <br />
                    A test facility is available using the following credentials:
                    <br />
                    Password: JehPNXF58rXs
                    <br />
                    Username: spaytest
                    <br />
                    UserPrefixe: NOB
                    <br />

                </p>

                <p>
                    <b>Return Page</b>
                    <br />
                    UK: https://shurjopay.com/sp-data.php
                    <br />
                </p>



                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Username)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UserPrefixe)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UserPrefixe)
                        @Html.ValidationMessageFor(model => model.UserPrefixe)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ReturnPage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ReturnPage)
                        @Html.ValidationMessageFor(model => model.ReturnPage)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}