


<form method="post" action="https://shurjotest.com/payment_option_new.php" id="frm_submit">

    <input type="hidden" name="merchantName" value="spaytest">
    <input type="hidden" name="merchantPass" value="pass1234">
    <input type="hidden" name="returnURL" value="http://localhost:9237/Payment/ReturnUrl">
    <input type="hidden" name="userIP" value="103.108.144.135">
    <input type="hidden" name="uniqID" value="NOK_1587793097119">
    <input  name="txnAmount" value="2">
    <input type="hidden" name="paymentOption" value="bkash">
    <input type="hidden" name="bank" value="">
    <input type="hidden" name="school" value="">
    <input type="hidden" name="studentID" value="">
    <input type="hidden" name="otherOption" value="">
    <input type="hidden" name="order_id" value="SP5ea3cccd70e6a7466">
    <input type="hidden" name="userID" value="1">
    <input type="hidden" name="USER_VISIT_TIMES" value="1">
    <input type="hidden" name="mxID" value="9101827038">
    <input type="hidden" name="dbblID" value="000599000080025">
    <input type="hidden" name="eblID" value="40670004">
    <input type="hidden" name="dbblTerminalID" value="59901721">
    <input type="hidden" name="eblPassword" value="f032f966c37f56e10e8f43bf440468a7">
    <input type="hidden" name="MerchantUserName" value="PayPoint-Robi">
    <input type="hidden" name="bkashJson" value="'}">
    <input type="hidden" name="nagadMerchantID" value="688474699445045">
    <input type="hidden" name="current_insert_id" value="0">
    <input type="hidden" name="unique_id_code" value="NOK">
    <button type="submit">Payment</button>
</form>
<!--<script>
    						document.getElementById('frm_submit').submit();
</script>-->
